/* globals.css */
/* Arabic font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* Apply Open Sans ONLY for Arabic (RTL) */
body[dir="rtl"],
body[dir="rtl"] * {
  font-family: "Open Sans", sans-serif !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: #171717;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }

  body {
    color: #171717;
  }
}
section,
div {
  max-width: 100%;
}
